#ot_box {
  position: absolute;
  border: 2px solid #888;
  background: #fafafa;
  padding: 2px 3px 2px 3px;
  font-family: 'Verdana';
  font-size: 12px;
  z-index: 999;
}

.ot_translatable {
  cursor:help;
}
