/** ——————————————————————————————————

    LESS Mixins
    
—————————————————————————————————— */
.box-round(@radius) {
  -webkit-border-radius: @radius; 
     -moz-border-radius: @radius; 
          border-radius: @radius; 
               
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box; 
          background-clip: padding-box;
}

@translatableBackground: #ccfa02;

// Translate mode enabled when body contains this class.
// Simple removing the class from the body tag (through javascript)
// will remove edit mode styles from the page
body.translatable {

	// Any item with an attribute "data-translatable-id"
  // is a translatable item.
	[data-translatable-id] {
		background: #ccfa02;
		&:hover {
		  cursor: pointer;
		  background: spin(@translatableBackground, 22);
		}
	}

  #ot_box {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50px;
    padding: 10px 20px 10px 30px;
    background: #0e0e11;
    opacity: 0.88;
    font-family: 'Verdana';
    font-size: 12px;
    z-index: 999;
    
    > #ot_spinner {
      float: left;
      margin-top: 12px;
    }
    
    > #ot_header {
      float: left;
      margin-left: 20px;
      color: white;
      font-size: 18px;
      > select {
        margin-left: 0.5em;
        font-size: 18px;
      }
    }
    
  }
  
  #ot_translate {
    display: none;
	  position: fixed;
	  left: 0;
	  top: 0;
	  background: #fff;
	  opacity: 0.8;
	  width: 100%;
	  height: 100%;
	  z-index: 800;
	  text-align: center;
	  
	  > .container {
	    width: 400px;
	    margin: 0 auto;
	  }
	  
	  ul.responses {
	    > li.positive {
	      background: #b1f89d;
	    }
	    > li.negative {
	      background: #f6aa9d;
	    }
	  }
	  
	}
  
}

#ot_box {
  display: none;
}

#ot_box p {
  padding: 0px;
  display: inline;
}

.ot-mode-indicator {
  display: block;
  padding: 20px 50px;
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(14, 14, 17, 0.85);
  .box-round(100px);
  
  h1 {
    display: inline-block;
    font: 100 18px sans-serif;
    color: #fff;
  }
  
  span {
    display: inline-block;
  }
}

.ot-add-translation {
  display: block;
  width: 520px;
  padding: 12px 0 11px 0;
  font: 100 30px sans-serif;
  color: #000;
  text-align: center;
  border: 0;
  outline: none;
  
  .box-round(5px);
  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(0, 0, 0, 0.10); 
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(0, 0, 0, 0.10); 
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.35), 0 1px 0 rgba(0, 0, 0, 0.10); 

  background: rgb(250,250,250);
  background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(top, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 100%);
}

.ot-translate-this {
  display: inline-block;
  font-size: 20px;
  color: #000;
  position: relative;
}

.ot-translate-this:before,
.ot-translate-this:after {
  content: '\201C';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -8px;
  left: -35px;
}

.ot-translate-this:after {
  content: '\201E';
  left: auto;
  top: -30px;
  right: -25px;
}

.ot-pill {
  .box-round(100px);
}

.ot-submit {
  display: block;
  width: 85px;
  height: 35px;
  font: 100 18px sans-serif;
  color: #fff;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  background: #000;
}

.ot-submitted-translations-list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    display: block;
    width: 130px;
    height: 40px;
    margin: 15px 0;
    font: 100 18px sans-serif;
    color: #27282d;
    text-align: center;
    line-height: 40px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.35);
    
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
            user-select: none;
    
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.30), inset 0 1px 0 rgba(0, 0, 0, 0.15); 
       -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.30), inset 0 1px 0 rgba(0, 0, 0, 0.15); 
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.30), inset 0 1px 0 rgba(0, 0, 0, 0.15); 

    .box-round(2px);
    
    &:first-child {
      margin-top: 0;
    }
    
    &:hover {
      cursor: pointer;
    }
  }
  
  .ot-list-green {
    background: rgb(174,245,155);

    background: -moz-linear-gradient(top, rgba(174,245,155,1) 0%, rgba(185,255,163,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,245,155,1)), color-stop(100%,rgba(185,255,163,1)));
    background: -webkit-linear-gradient(top, rgba(174,245,155,1) 0%,rgba(185,255,163,1) 100%);
    background: -o-linear-gradient(top, rgba(174,245,155,1) 0%,rgba(185,255,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(174,245,155,1) 0%,rgba(185,255,163,1) 100%);
    background: linear-gradient(top, rgba(174,245,155,1) 0%,rgba(185,255,163,1) 100%);
    
    &:hover {
      background: rgb(140,199,124);
      background: -moz-linear-gradient(top, rgba(140,199,124,1) 0%, rgba(195,254,177,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,199,124,1)), color-stop(100%,rgba(195,254,177,1)));
      background: -webkit-linear-gradient(top, rgba(140,199,124,1) 0%,rgba(195,254,177,1) 100%);
      background: -o-linear-gradient(top, rgba(140,199,124,1) 0%,rgba(195,254,177,1) 100%);
      background: -ms-linear-gradient(top, rgba(140,199,124,1) 0%,rgba(195,254,177,1) 100%);
      background: linear-gradient(top, rgba(140,199,124,1) 0%,rgba(195,254,177,1) 100%);
    }
    
    &:active {
      top: 1px;
      
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.30), inset 0 0 12px rgba(0, 0, 0, 0.20); 
         -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.30), inset 0 0 12px rgba(0, 0, 0, 0.20); 
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.30), inset 0 0 12px rgba(0, 0, 0, 0.20);
    }
  }
  
  .ot-list-red {
    background: rgb(244,169,155);
    background: -moz-linear-gradient(top, rgba(244,169,155,1) 0%, rgba(255,178,163,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,169,155,1)), color-stop(100%,rgba(255,178,163,1)));
    background: -webkit-linear-gradient(top, rgba(244,169,155,1) 0%,rgba(255,178,163,1) 100%);
    background: -o-linear-gradient(top, rgba(244,169,155,1) 0%,rgba(255,178,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,169,155,1) 0%,rgba(255,178,163,1) 100%);
    background: linear-gradient(top, rgba(244,169,155,1) 0%,rgba(255,178,163,1) 100%);
    
    &:hover {
      background: rgb(244,169,155);
      background: -moz-linear-gradient(top, rgba(206,133,123,1) 0%, rgba(254,177,162,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,133,123,1)), color-stop(100%,rgba(254,177,162,1)));
      background: -webkit-linear-gradient(top, rgba(206,133,123,1) 0%,rgba(254,177,162,1) 100%);
      background: -o-linear-gradient(top, rgba(206,133,123,1) 0%,rgba(254,177,162,1) 100%);
      background: -ms-linear-gradient(top, rgba(206,133,123,1) 0%,rgba(254,177,162,1) 100%);
      background: linear-gradient(top, rgba(206,133,123,1) 0%,rgba(254,177,162,1) 100%); 
    }
    
    &:active {
      top: 1px;
      
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.30), inset 0 0 12px rgba(0, 0, 0, 0.20); 
         -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.30), inset 0 0 12px rgba(0, 0, 0, 0.20); 
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.30), inset 0 0 12px rgba(0, 0, 0, 0.20);
    }
  }
}

.ot-translateable {
  width: 200px;
  height: 150px;
  margin: 30px 0;
  .box-round(2px);
  
  &.ot-need-translation {
    -webkit-box-shadow: inset 0 0 0 1px #978080, 0 0 0 1px rgba(255, 255, 255, 0.50), 0 0 0 2px #ff0000;
       -moz-box-shadow: inset 0 0 0 1px #978080, 0 0 0 1px rgba(255, 255, 255, 0.50), 0 0 0 2px #ff0000;
            box-shadow: inset 0 0 0 1px #978080, 0 0 0 1px rgba(255, 255, 255, 0.50), 0 0 0 2px #ff0000;
  }
  
  &.ot-has-translation {
    -webkit-box-shadow: inset 0 0 0 1px #899685, 0 0 0 1px rgba(255, 255, 255, 0.50), 0 0 0 2px #77a86a;
       -moz-box-shadow: inset 0 0 0 1px #899685, 0 0 0 1px rgba(255, 255, 255, 0.50), 0 0 0 2px #77a86a;
            box-shadow: inset 0 0 0 1px #899685, 0 0 0 1px rgba(255, 255, 255, 0.50), 0 0 0 2px #77a86a;
  }
}


